<?xml version="1.0"?>
<config>
    <modules>
        <Ves_FormBuilder>
            <version>1.0.4</version>
        </Ves_FormBuilder>
    </modules>
    <frontend>
        <routers>
            <formbuilder>
                <use>standard</use>
                <args>
                    <module>Ves_FormBuilder</module>
                    <frontName>formbuilder</frontName>
                </args>
            </formbuilder>
        </routers>
        <translate>
            <modules>
                <Ves_FormBuilder>
                    <files>
                        <default>Ves_FormBuilder.csv</default>
                    </files>
                </Ves_FormBuilder>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_formbuilder>
                    <file>ves_formbuilder.xml</file>
                </ves_formbuilder>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ves_formbuilder_observer>
                        <class>Ves_FormBuilder_Model_Observer</class>
                        <method>initControllerRouters</method>
                    </ves_formbuilder_observer>
                </observers>
            </controller_front_init_routers>
            <controller_action_layout_load_before>
                <observers>
                    <ves_formbuilder_loadbefore>
                        <class>Ves_FormBuilder_Model_Loadbefore</class>
                        <method>beforeLoadLayout</method>
                    </ves_formbuilder_loadbefore>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <blocks>
           <ves_formbuilder>
            <class>Ves_FormBuilder_Block</class>
        </ves_formbuilder>
    </blocks>
    <models>
        <ves_formbuilder>
            <class>Ves_FormBuilder_Model</class>
            <resourceModel>ves_formbuilder_mysql4</resourceModel>
        </ves_formbuilder>
        <ves_formbuilder_mysql4>
            <class>Ves_FormBuilder_Model_Mysql4</class>
            <entities>
                <form>
                    <table>ves_formbuilder_form</table>
                </form>
                <form_store>
                    <table>ves_formbuilder_form_store</table>
                </form_store>
                <message>
                    <table>ves_formbuilder_message</table>
                </message>
                <model>
                    <table>ves_formbuilder_model</table>
                </model>
                <category>
                    <table>ves_formbuilder_model_category</table>
                </category>
                <group_field>
                    <table>ves_formbuilder_group_field</table>
                </group_field>
            </entities>
        </ves_formbuilder_mysql4>
    </models>
    <helpers>
        <ves_formbuilder>
            <class>Ves_FormBuilder_Helper</class>
        </ves_formbuilder>
    </helpers>
    <resources>
        <ves_formbuilder_setup>
            <setup>
                <module>Ves_FormBuilder</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </ves_formbuilder_setup>
        <ves_formbuilder_write>
            <connection>
                <use>core_write</use>
            </connection>
        </ves_formbuilder_write>
        <ves_formbuilder_read>
            <connection>
                <use>core_read</use>
            </connection>
        </ves_formbuilder_read>
    </resources>
    <template>
        <email>
            <formbuilder_submit_a_custom_form translate="label" module="ves_formbuilder">
                <label>Ves Form Builder: Submit A Custom Form</label>
                <file>formbuilder_form.html</file>
                <type>html</type>
            </formbuilder_submit_a_custom_form>
            <formbuilder_thanksyou_notify translate="label" module="ves_formbuilder">
                <label>Ves Form Builder: Thanks you email (Success email notify)</label>
                <file>formbuilder_thanks_you.html</file>
                <type>html</type>
            </formbuilder_thanksyou_notify>
        </email>
    </template>
</global>

<admin>
    <routers>
        <formbuilder>
            <use>admin</use>
            <args>
                <module>Ves_FormBuilder</module>
                <frontName>formbuilder</frontName>
            </args>
        </formbuilder>
        <adminhtml>
                <args>
                    <modules>
                        <Ves_FormBuilder after="Mage_Adminhtml">Ves_FormBuilder_Adminhtml</Ves_FormBuilder>
                    </modules>
                </args>
            </adminhtml>
    </routers>
</admin>

<adminhtml>
    <layout>
        <updates>
            <formbuilder>
                <file>ves_formbuilder.xml</file>
            </formbuilder>
        </updates>
    </layout>
</adminhtml>

<default>
    <ves_formbuilder>
        <ves_formbuilder>
            <show>1</show>
            <enable_jquery>1</enable_jquery>
            <enable_colorbox>0</enable_colorbox>
            <enable_raty>1</enable_raty>
            <enable_locationpicker>1</enable_locationpicker>
            <extension></extension>
            <show_in_dashboard>1</show_in_dashboard>
        </ves_formbuilder>
        <email_setting>
            <sender_name>owner</sender_name>
            <sender_email>owner@example.com</sender_email>
            <enable_testmode>0</enable_testmode>
            <send_thanks_email>0</send_thanks_email>
            <email_template>formbuilder_thanksyou_notify</email_template>
        </email_setting>
        <form_setting>
            <form_id>0</form_id>
            <link_text>Open Form</link_text>
            <is_popup>0</is_popup>
            <popup_width>80%</popup_width>
            <popup_height>60%</popup_height>
            <show_text_before>1</show_text_before>
            <show_text_after>1</show_text_after>
            <is_product_mode>0</is_product_mode>
        </form_setting>
        <recaptcha>
            <enabled>1</enabled>
            <public_key></public_key>
            <private_key></private_key>
            <theme>red</theme>
            <lang>en</lang>
        </recaptcha>
        <field_templates>
            <address><![CDATA[{{if street}}{{var street}}<br />{{/if}}{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}<br/>{{var country}}]]></address>
            </field_templates>
        </ves_formbuilder>
        <export_settings>
            <export_message>1</export_message>
            <export_plaintext>0</export_plaintext>
            <enable_params>1</enable_params>
            <enable_subject>0</enable_subject>
            <enable_email_from>0</enable_email_from>
            <enable_customer>1</enable_customer>
            <enable_product>1</enable_product>
            <enable_ip>1</enable_ip>
            <enable_form_id>1</enable_form_id>
            <enable_message_id>1</enable_message_id>
            <export_fields_columns>1</export_fields_columns>
            <enable_form_title>1</enable_form_title>
            <enable_created>1</enable_created>
        </export_settings>
        <advanded_parameter>
            <label>Information - Support</label>
            <frontend_type>text</frontend_type>
            <sort_order>6003</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <fields>
                <module_information translate="label">
                    <label>Set Module Visable On Pages, Position</label>
                    <frontend_type>label</frontend_type>
                    <frontend_model>ves_formbuilder/system_config_form_field_information</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </module_information>
            </fields>
        </advanded_parameter>
    </default>
</config>