<?xml version="1.0"?>
<config>
    <tabs>
        <ves translate="label" module="ves_formbuilder">
            <label>Venus Theme</label>
            <sort_order>211</sort_order>
        </ves>
    </tabs>
    <sections>
        <ves_formbuilder>
            <label>Ves Form Builder</label>
            <tab>ves</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <ves_formbuilder>
                    <label>General Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <last_update translate="label">
                            <label>Current Update Time</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>ves_formbuilder/system_config_form_field_notification</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </last_update>
                        <show translate="label" module="core">
                            <label>Enabled Custom Form</label>
                            <sort_order>1</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show>
                        <enable_jquery translate="label" module="core">
                            <label>Enabled JQUERY</label>
                            <sort_order>3</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_jquery>
                        <enable_colorbox translate="label" module="core">
                            <label>Enabled Color Box Popup JS</label>
                            <sort_order>5</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_colorbox>
                        <enable_raty translate="label" module="core">
                            <label>Enabled JS Rating</label>
                            <sort_order>8</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_raty>
                        <enable_locationpicker translate="label" module="core">
                            <label>Enabled Location Picker Js</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_locationpicker>
                        
                        <extension translate="label">
                            <label>Url extension</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <comment>Input extension for rewrite custom form url (.html | .txt | .form | .text | .chanel ...). For example: /FORM-IDENTIFIER.html</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </extension>

                        <date_format>
                            <label>Date Field Format</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ves_formbuilder/system_config_source_dateformat</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </date_format>

                        <show_in_dashboard translate="label" module="core">
                            <label>Show Messages In Customer Dashboard</label>
                            <sort_order>300</sort_order>
                            <comment>Show submitted messages of customer on dashboard</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_in_dashboard>
                    </fields>
                </ves_formbuilder>
                <field_templates translate="label">
                    <label>Message Field Templates</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <address>
                            <label>Address</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </address>

                    </fields>
                </field_templates>
                <email_setting translate="label">
                    <label>Email Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_testmode translate="label" module="core">
                            <label>Enabled Test Mode</label>
                            <comment>Enable Test Mode don't send any email, It just store form messages. Enable it if you test the extension on the local which don't have SMTP service.</comment>
                            <sort_order>0</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_testmode>
                        <sender_name translate="label">
                            <label>Sender Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <comment>Default: Owner</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_name>
                        <sender_email_identity translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_email_identity>

                        <send_thanks_email translate="label" module="core">
                            <label>Allow send thanks you email</label>
                            <comment>If in custom form have email fields, it will send a thanks you email to there email address after then submit custom form.</comment>
                            <sort_order>20</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </send_thanks_email>

                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <send_thanks_email>1</send_thanks_email>
                            </depends>
                        </email_template>
                        
                    </fields>
                </email_setting>
                <recaptcha translate="label">
                    <label>Recaptcha Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Captcha</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <public_key translate="label">
                            <label>Site Key - Public Key</label>
                            <comment>You got this from the signup page: https://www.google.com/recaptcha/admin/create</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </public_key>
                        <private_key translate="label">
                            <label>Secret Key - Private Key</label>
                            <comment>You got this from the signup page: https://www.google.com/recaptcha/admin/create</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </private_key>
                        <theme translate="label">
                            <label>reCaptcha Theme</label>
                            <comment>Customizing the Look of reCAPTCHA</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>ves_formbuilder/system_config_source_theme</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </theme>
                        <lang translate="label">
                            <label>reCaptcha Language</label>
                            <comment>Which language is used in the reCaptcha interface</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>ves_formbuilder/system_config_source_lang</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </lang>
                    </fields>
                </recaptcha>
                <export_settings translate="label">
                    <label>Export Messages Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_message translate="label" module="core">
                            <label>Enabled Export Mesasge</label>
                            <sort_order>0</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_message>
                        <export_plaintext translate="label" module="core">
                            <label>Enabled Export Mesasge As Plain Text</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </export_plaintext>
                        <enable_message_id translate="label" module="core">
                            <label>Enabled Message Id Column</label>
                            <sort_order>15</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_message_id>
                        <enable_form_id translate="label" module="core">
                            <label>Enabled Form Id Column</label>
                            <sort_order>25</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_form_id>
                        <enable_form_title translate="label" module="core">
                            <label>Enabled Form Title Column</label>
                            <sort_order>28</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_form_title>
                        <export_fields_columns translate="label" module="core">
                            <label>Enabled Form Fields Column</label>
                            <sort_order>32</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </export_fields_columns>
                        <enable_product translate="label" module="core">
                            <label>Enabled Product Id Column</label>
                            <sort_order>35</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_product>
                        <enable_customer translate="label" module="core">
                            <label>Enabled Customer Id Column</label>
                            <sort_order>45</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_customer>
                        <enable_subject translate="label" module="core">
                            <label>Enabled Subject Column</label>
                            <sort_order>55</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_subject>
                        <enable_email_from translate="label" module="core">
                            <label>Enabled Email From Column</label>
                            <sort_order>65</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_email_from>
                        <enable_ip translate="label" module="core">
                            <label>Enabled Ip Address Column</label>
                            <sort_order>75</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_ip>
                        <enable_params translate="label" module="core">
                            <label>Enabled Params Column</label>
                            <sort_order>85</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_params>
                        <enable_created translate="label" module="core">
                            <label>Enabled Created Column</label>
                            <sort_order>105</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_created>
                    </fields>
                </export_settings>
                <advanded_parameter>
                    <label>Information - Support</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9999</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <module_information translate="label">
                            <label>Set Module Visable On Pages, Position</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>ves_formbuilder/system_config_form_field_information</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </module_information>
                    </fields>
                </advanded_parameter>
            </groups>
        </ves_formbuilder>
    </sections>
</config>