codepool/app/etc/local.xml
codepool/media/catalog/product
codepool/media
codepool/errors/local.xml
codepool/var/log
codepool/var/cache
codepool/var/full_page_cache
codepool/var/session
codepool/var/locks
codepool/var/report
codepool/var
codepool/downloader/*
.idea
.DS_STORE
atlassian-ide-plugin.xml
codepool/.htaccess
codepool/skin/frontend/enterprise/cellarone/.sass-cache/*
codepool/app/code/community/Ves/FormBuilder/Block/.DS_Store
codepool/app/code/community/Ves/FormBuilder/Block/Adminhtml/.DS_Store
codepool/app/code/community/Ves/FormBuilder/Block/Adminhtml/Formgroupfield/.DS_Store
codepool/app/code/community/Ves/FormBuilder/controllers/Adminhtml/.DS_Store
codepool/app/design/frontend/sm_market/default/template/checkout/cart/item/_notes/
codepool/app/design/frontend/sm_market/default/template/page/html/_notes/
codepool/downloader/
