<?xml version="1.0"?>
<config>	
	<modules>
	<Ecomwise_CategoryPermissions>
		<version>1.3.2</version>
	</Ecomwise_CategoryPermissions>
	</modules>     
	<global>
		<models>
            <categorypermissions>
                <class>Ecomwise_CategoryPermissions_Model</class>
            </categorypermissions>
            <catalog>
        		<rewrite>
        			<layer_filter_category>Ecomwise_CategoryPermissions_Model_Catalog_Layer_Filter_Category</layer_filter_category>        			
        		</rewrite>
        	</catalog>        	
        	<catalog_resource_eav_mysql4>        	
        		<rewrite>        		
        			<category>Ecomwise_CategoryPermissions_Model_Catalog_Resource_Category</category>
        		</rewrite>        	
        	</catalog_resource_eav_mysql4>
        	<eav>
        		<rewrite>
        			<entity_attribute_source_table>Ecomwise_CategoryPermissions_Model_Customattribute_Source_Table</entity_attribute_source_table>
        			<entity_attribute_backend_array>Ecomwise_CategoryPermissions_Model_Customattribute_Backend_Array</entity_attribute_backend_array>
        		</rewrite>
        	</eav>
        </models>
        <blocks>
        	<categorypermissions>
        		<class>Ecomwise_CategoryPermissions_Block</class>
        	</categorypermissions>
        	<Ecomwise_CategoryPermissions>
                <class>Ecomwise_CategoryPermissions_Block</class>
            </Ecomwise_CategoryPermissions>
    		 <catalog>
        		<rewrite>
           	 		<product_list>Ecomwise_CategoryPermissions_Block_Catalog_Product_List</product_list>
       		 	</rewrite>
    		</catalog>
    		<catalog>
        		<rewrite>
           	 		<navigation>Ecomwise_CategoryPermissions_Block_Catalog_Navigation</navigation>
       		 	</rewrite>
    		</catalog>
    		<page>
        		<rewrite>
           	 		<html_topmenu>Ecomwise_CategoryPermissions_Block_Page_Html_Topmenu</html_topmenu>
           	 		<html_topmenu_renderer>Ecomwise_CategoryPermissions_Block_Page_Html_Topmenu_Renderer</html_topmenu_renderer>
       		 	</rewrite>
    		</page>
        </blocks>
        <helpers>
            <categorypermissions>
                <class>Ecomwise_CategoryPermissions_Helper</class>
            </categorypermissions>
        </helpers>
        <events>
		<admin_session_user_login_success>
				<observers>
					<categorypermissions_model_observer>
						<type>singleton</type>						
						<class>Ecomwise_CategoryPermissions_Model_Observer</class>
						<method>uninstall</method>
					</categorypermissions_model_observer>
				</observers>
		</admin_session_user_login_success>
		</events>
        <resources>
			<categorypermissions_setup>
      			<setup>
                	 <module>Ecomwise_CategoryPermissions</module>
                	 <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</categorypermissions_setup>
            <categorypermissions_write>
                <connection>
                    <use>core_write</use>
                </connection>
       		</categorypermissions_write>
            <categorypermissions_read>
                <connection>
                    <use>core_read</use>
                </connection>
       		</categorypermissions_read>
    	</resources>
	</global>
	<frontend>
        <routers>
            <categorypermissions>
                <use>standard</use>
                <args>
                    <module>Ecomwise_CategoryPermissions</module>
                    <frontName>categorypermissions</frontName>
                </args>
            </categorypermissions>
        </routers>
   </frontend>   
    <adminhtml>	
    	<acl>
	        <resources>
	        	<all>
					<title>Allow Everything</title>
				</all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <categorypermissions translate="title" module="categorypermissions">
	                                        <title>Category Permissions</title>
	                                    </categorypermissions>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	               </children>
	           </admin>
	       </resources>
	    </acl>
    </adminhtml>     
</config>